


h1
{
    color:saddlebrown;
}

h2
{
    color:green;
}

h3
{
    color: rebeccapurple;
}

h4
{
    color:blue;
}

h5
{
    color: green;
}


ul
{
    color:teal;
}

p
{
    color:black;

}
p

{
    font-size: 18px;

}
li
{
    font-size: 18px;

}
h5
{
    font-size: 18px;

}





